.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    background: url('../../../../assets/image/bg-fon.jpg') center center/cover no-repeat;
}

.header__title {
    font-size: 45px;
    margin-top: 3%;
}

.input-wrapper {
    display: flex;
    margin-top: 3%;
}

.header__input {
    border: double;
    background-color: mintcream;
    font-size: 24px;
    height: 32px;
}

.header__input :active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

.btn__search {
    width: 150px;
    height: 32px;
    margin-left: 15px;
    background: silver;
    font-size: 24px;
    cursor: pointer;
}

.select-wrapper {
    width: 40%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 5%;
}

.categories-label {
    font-size: 24px;
}

.header__select__categories {
    margin-left: 15px;
    font-size: 18px;
    cursor: pointer;
}

.sorting-label {
    font-size: 24px;
}

.header__select__sorting {
    margin-left: 15px;
    font-size: 18px;
    cursor: pointer;
}

.btn {
    display: block;
    margin: 20px auto;
    background: black;
    color: white;
    font-size: 24px;
    padding: 5px 20px;
    border-radius: 12px;
    cursor: pointer;
}
